.Form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 100%;
    height: rem(36px);
    padding: 0 $paddingSmall;
    border: 1px solid $input-border;
    border-radius: rem(4px);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: rem(16px);

    button {
      color: $text-tertiary;
      padding: $paddingSmall;
      border-radius: rem(4px);
    }

    &__closeBtn {
      background-color: $btn-bg-secondary;
    }

    &__saveBtn {
      background-color: $btn-bg-primary;
    }
  }
}
