.CardList {
  width: 100%;
  height: auto;
  padding: $paddingMedium 0;

  &__container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20px);
  }
}
