// Background
$background-primary: #f4f2ec;
$background-secondary: #001828;

// Text
$text-primary: #001828;
$text-secondary: #4fb0d3;
$text-tertiary: #f4f2ec;

// Button
$btn-main: #273049;
$btn-bg-primary: #4c74cae8;
$btn-bg-secondary: #ff3f3fe7;

//input
$input-border: #4fb0d3;

//card
$card-background: #fffdf6;
